[Unit]
Description=Sets ACPI wakeup devices

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/bin/set-wakeup-devices.py

[Install]
WantedBy=multi-user.target
